.footer {
    background-color: #360f0f;
    border-top: 1px solid #E7E7E7;
    text-align: center;
    /* padding: 110px; */
    /* position: fixed; */
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    color: #E7E7E7;
}